<div class="container clearfix">
      <div class="row row-offcanvas row-offcanvas-left ">
        <!--Bagian Kiri-->
        <div class="col-xs-12 col-sm-3 side pull-left sidebar-offcanvas" id="sidebar" role="navigation" >
          <div class="list-group">
            <h1>Riku Kiranatama </h1>
            <%= image_tag "face.jpg", height:"80", width:"80", class:"img-circle" %>

            
          </div>
        </div>

        <!--Bagian Kanan-->
        <div id="main-content" class="col-xs-12 col-sm-9 main pull-right">
         <div class="panel-body">
           <table border="0" class="table table-bordered table-hover table-striped display" >
             <thead>
              
             </thead>
             <tbody>
               <tr>
                  <th>Nama</th>
                  <td>Riku Kiranatama</td>
               </tr>
               <tr>
                  <th>Tempat, Tanggal Lahir</th>
                  <td>Bandung, 7 Oktober 1989</td>
               </tr>
               <tr>
                  <th>Jenis Kelamin</th>
                  <td>Pria</td>
               </tr>
               <tr>
                  <th>Alamat Domisili</th>
                  <td>Jl.Soekarno Hatta 104</td>
               </tr>
                         
             </tbody>
           </table>
          </div>
        </div>
      </div>
    </div>